<div class="sub-menu-box">
  <div class="sub-menu">
    <div class="sub-menu-left">
      <a href="">
      <img src="/icons/ibb-white-logo.svg" alt="ibb-white-logo">
      </a>
      <a href="">
        <img src="/icons/logo-white.svg" alt="logo-white">
      </a>
    </div>
    <div class="sub-menu-middle">
      <a href="/icerik/IETT-Toplu-Ulasim-ucret-Tarifesi" target="_self">Ücret Tarifesi</a>
      <a href="/announcement/Index" target="_self">Duyurular</a>
      <a href="/news/archive" target="_self">Haberler</a>
      <a class="mega-menu-opener">Kurumsal</a>
    </div>
    <div class="sub-menu-right">
      <div class="social-links">
        <a href="https://www.facebook.com/iett.tr" target="_blank"><img src="/icons/facebook.svg" alt="Facebook Logo"></a>
        <a href="https://twitter.com/ietttr" target="_blank"><img src="/icons/twitter.svg" alt="Twitter Logo"></a>
        <a href="https://instagram.com/ietttr" target="_blank"><img src="/icons/instagram.svg" alt="Instagram Logo"></a>
        <a href="https://www.youtube.com/iettKurumsal" target="_blank"><img src="/icons/youtube.svg" alt="Youtube Logo"></a>
        <a href="https://www.linkedin.com/company/iett" target="_blank"><img src="/icons/linkedin.svg" alt="Linkedin Logo"></a>
      </div>
    </div>
  </div>
</div>
